<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <button pButton pRipple icon="pi pi-cog" class="mr-2 inline-block"></button>
    </ng-template>
</p-toolbar>


<p-table #dt1 [value]="productsList" [(selection)]="selectedProducts" dataKey="code"  editMode="row" [tableStyle]="{'min-width': '50rem'}">
       <ng-template pTemplate="header">
        <tr>
            <th style="width: 2%">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code" style="width:20%">Code <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="name" style="width:10%">Actions</th>
       </tr>
       <tr>
        <th></th>
        <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'code', 'contains')" class="w-full" />
        </th>
        <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'name', 'contains')" class="w-full" />
        </th>
        <th></th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="product">
            <td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button pButton pRipple icon="pi pi-pencil" (click)="editProduct(product)" class="p-button-rounded p-button-text"></button>
                    <button pButton pRipple icon="pi pi-trash" style="color : red;" class="p-button-rounded p-button-text" (click)="deleteProduct(product)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
    
</p-table>

<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Code</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.code" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.code">Name is required.</small>
        </div>
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small>
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
        </div>
        <div class="field">
            <label for="description">Price</label>
            <input type="text" pInputText id="price" [(ngModel)]="product.price" required autofocus />
        </div>
        <div class="field">
            <label for="description">Quantity</label>
            <input type="text" pInputText id="price" [(ngModel)]="product.quantity" required autofocus />
        </div>
        <div class="field">
            <label for="description">Inventory Status</label>
            <input type="text" pInputText id="price" [(ngModel)]="product.inventoryStatus" required autofocus />
        </div>
        <div class="field">
            <label for="description">Category</label>
            <input type="text" pInputText id="price" [(ngModel)]="product.category" required autofocus />
        </div>
        <div class="field">
            <label for="description">Image</label>
            <input type="text" pInputText id="price" [(ngModel)]="product.image" required autofocus />
        </div>
        <div class="field">
            <label for="description">Rating</label>
            <input type="text" pInputText id="price" [(ngModel)]="product.rating" required autofocus />
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  