<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" ></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" [disabled]="!selectedProducts || !selectedProducts.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <button pButton pRipple icon="pi pi-cog" class="mr-2 inline-block"></button>
    </ng-template>
</p-toolbar>


<p-table #dt1 [value]="productsList" [(selection)]="selectedProducts" dataKey="code"  editMode="row" [tableStyle]="{'min-width': '50rem'}">
       <ng-template pTemplate="header">
        <tr>
            <th style="width: 2%">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code" style="width:20%">Code <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="name" style="width:10%">Actions</th>
       </tr>
       <tr>
        <th></th>
        <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'code', 'contains')" class="w-full" />
        </th>
        <th>
            <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'name', 'contains')" class="w-full" />
        </th>
        <th></th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="product">
            <td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.code">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.code}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.name">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{product.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    <button pButton pRipple icon="pi pi-trash" (click)="deleteProduct(product)" style="color : red;" class="p-button-rounded p-button-text"></button>
                </div>
            </td>
        </tr>
    </ng-template>
    
</p-table>
  